* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-image: url(..//img/background.jpeg);
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    max-width: 1640px;
    margin-bottom: 20px;

}


nav {
    display:flex;
    gap: 30px;
 
}

a { 
    
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;

}

a:hover,
a:focus {
    background-color: #fff;
    color: #333;
}


.box {
    width: 100px;
    background: slateblue;
    padding: 8px;
    place-content: center;
    color: white;
    text-align: center;
} 
