 *{
    padding: 1px;
    margin: 1px;
    box-sizing: border-box; 
 }  
 
 .header {
    margin-bottom: 107px; 
    text-align: left;
    
 } 

 nav li {
    display: inline-block; 
    margin: 0 20px;
 }
    nav , a  {
        text-decoration: none;  
        color: #707070;
    } 
    
    
    ul {
        list-style-type: none; 
       
        
    }

    .container {
        max-width: 1640px;
        width: 96%;
        margin: 0 auto;
    }  

    nav, 
    nav li {
        display: inline-block;
    } 

    nav , 
    .logo-3 ,
    .search-icon {
        vertical-align: middle;
    }  

    nav li {
        min-width: 100px;
    
    } 

    .logo-3 img , 
    .search-icon img {
        width: 44px;
        height: 44px;
    } 

    .logo-3, 
    .search-icon {
        display: inline-block;
    }

    
    
    
    
    .logo , #logo_2 , .footer{
        width: 44px; 
        height: 44px;
    }
    
    .search-icon{
        width: 40px;
        height: 40px;
    }  
   
    img{
        width: 100%;
    }  

    .main-1 {
        margin-bottom: 138px;
    }

    .paragraph {
        margin-bottom: 56px;
    }
    
    .middle {
        margin-bottom: 53px;
    }
   
    
    footer {
     
        border-radius: 7px;
        background-color: #2E2E2E;  
    }
    
    div{
        text-align: left;
    } 
    

    
    #logo_2 {
        text-align: left;
        margin-left: 15px;
    } 
    
    
    .misamarti-1{
        color: #F2F2F2;
    } 
    
    .misamarti {
        color: #FFFFFF;
        margin-right: 15px; 
    }
     
    h1 , p , h3 , a , h2 {
        color: #707070; 
        
    
    } 

      section .sections-1 {
        
        display: inline-block;
        margin: 0 95px;
    
     } 

    .sections-1 {  
       text-align: left;
       width: 480px;
       height: auto;
       padding: 10px;
       border: 1 solid;
       box-sizing: content-box; 
       box-shadow: 2px 2px 2px 2px #888888 ; 
       margin-top: 268px;
     
    }  

  
    .img-section-2 {
       margin-top: 30px;
    }

    .img-section {
        width: 480px;
        height: 280px;
    } 
    
    
    aside{
        text-align: center;
        text-decoration: underline;
        font-size: large;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    

    .footer-size {
        margin-top: 68px;
    }


    
