/* *{
    padding: 1px;
    margin: 1px;
    box-sizing: border-box;  /*es ro daviwyeb sul unda davwero  */




    nav , a  {
        text-decoration: none;  
        color: #707070;
    
    
    
    } 
    
    
    ul {
        list-style-type: none; 
       
        
    }
    
    .logo , #logo_2 , .footer{
        width: 44px; 
        height: 44px;
    }
    
    .search-icon{
        width: 40px;
        height: 40px;
    }  
    .img-section {
         max-width: 1640px;
         margin: 0; 
        
    } 
    img{
        width: 100%;
    }
    
    
    footer {
        /* border: 2px solid #2E2E2E;  */
        border-radius: 7px;
        background-color: #2E2E2E;  
    }
    
    div{
        text-align: center;
    } 
    
    
    .navigacia {
        text-align: right; 
    } 
    
    #logo_2{
        text-align: left;
        margin-left: 15px;
    } 
    
    .footer { 
        text-align: right; 
        margin-right: 20px;
        
    }
    
    article ,.footer {
        text-align: right;
    }   
    
    .misamarti-1{
        color: #F2F2F2;
    } 
    
    .misamarti {
        color: #FFFFFF;
        margin-right: 15px; 
    }
     
    h1 , p , h3 , a , h2 {
        color: #707070; 
        
    
    }
    
    #box-1 {
        
       text-align: left;
       width: 480px;
       height: auto;
       padding: 10px;
       border: 1 solid;
       box-sizing: content-box; 
       box-shadow: 5px 5px 5px 5px #888888 ; 
       margin-top: 30px;
       margin-bottom: 30px;
    
    }
    .img-box-1 {
        width: 480px;
        height: 280px;
    } 
    
    #box-2 {
        
        text-align: left;
        width: 480px;
        height: auto;
        padding: 10px;
        border: 1 solid;
        box-sizing: content-box; 
        box-shadow: 5px 5px 5px 5px  #888888 ;
        margin-bottom: 30px;
     
     }
     .img-box-2 {
         width: 480px;
         height: 280px;
     } 
    
     #box-3 {
        
        text-align: left;
        width: 480px;
        height: auto;
        padding: 10px;
        border: 1 solid;
        box-sizing: content-box; 
        box-shadow: 5px 5px 5px 5px #888888 ;
        margin-bottom: 30px;
     
     }
     .img-box-3 {
         width: 480px;
         height: 280px;
     } 
    
    
    aside{
        text-align: center;
        text-decoration: underline;
        font-size: large;
    }
    
    #box-4 {
        
        text-align: left;
        width: 480px;
        height: auto;
        padding: 10px;
        border: 1 solid;
        box-sizing: content-box; 
        box-shadow: 5px 5px 5px 5px #888888 ; 
        margin-bottom: 30px;
     
     }
     .img-box-4 {
         width: 480px;
         height: 280px;
     }  
    
     #box-5 {
        
        text-align: left;
        width: 480px;
        height: auto;
        padding: 10px;
        border: 1 solid;
        box-sizing: content-box; 
        box-shadow: 5px 5px 5px 5px  #888888 ;
        margin-bottom: 30px;
     
     }
     .img-box-5 {
         width: 480px;
         height: 280px;
     }  
    
     #box-6 {
        
        text-align: left;
        width: 480px;
        height: auto;
        padding: 10px;
        border: 1 solid;
        box-sizing: content-box; 
        box-shadow: 5px 5px 5px 5px #888888 ;
        margin-bottom: 30px;
     
     }
     .img-box-6 {
         width: 480px;
         height: 280px;
     } 
     

    .footer-size {
        max-width: 1640px;
    }
    